  <h5 style="text-align:center;"> Endereço de entrega </h5>
                <br />

                <br />
                <div class="form-group row" >
                    <div class="offset-4 col-8" style="align-items:right;">
                        <button name="submit" type="submit" class="btn btn-primary">Adicionar endereço</button>
                    </div>


                <div class="form-group row">
                    <label for="cep" class="col-4 col-form-label">CEP</label> 
                        <div class="col-8">
                            <input id="cep" value="{{request.POST.cep}}" name="cep" type="text"  placeholder="Cep" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="street" class="col-4 col-form-label">Rua</label> 
                        <div class="col-8">
                            <input id="street" value="{{request.POST.street}}" name="street" type="text"  placeholder="Rua" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="number" class="col-4 col-form-label">Número</label> 
                        <div class="col-8">
                           <input id="number" value="{{request.POST.number}}" name="number" type="text"  placeholder="Número" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="complement" class="col-4 col-form-label">Complemento</label> 
                        <div class="col-8">
                            <input id="complement" value="{{request.POST.complement}}" name="complement" type="text"  placeholder="Complemento" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="district" class="col-4 col-form-label">Bairro</label> 
                        <div class="col-8">
                            <input id="district" value="{{request.POST.district}}" name="district" type="text"  placeholder="Bairro" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="city" class="col-4 col-form-label">Município</label> 
                        <div class="col-8">
                            <input id="city" value="{{request.POST.city}}" name="city" type="text"  placeholder="Município" class="form-control">
                        </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="city" class="col-4 col-form-label">Município</label> 
                        <div class="col-8">
                            <input id="city" value="{{request.POST.city}}" name="city" type="text"  placeholder="Município" class="form-control">
                        </div>
                </div>