<div class="modal fade" id="modalProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="help-block with-errors"></div>
        
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar Produto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <br />
                <div class="modal-body">
                    <form method="POST" action="{% url 'save_product'%}" data-toggle="validator"> {% csrf_token %}
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Nome *</label> 
                            <div class="col-8">
                                <input id="name" value="{{request.POST.nome}}"  name="name" placeholder="Nome" type="text" class="form-control" required>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label for="price" class="col-4 col-form-label">Preço *</label> 
                            <div class="col-8">
                                <input id="price" value="{{request.POST.price}}" name="price" type="text"  placeholder="Preço" class="form-control" required onchange="this.value = this.value.replace(/,/g, '.')">
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="offset-4 col-8" style="align-items:right;">
                                <button name="submit" type="submit" class="btn btn-primary">Salvar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="margin-left:55px;" >Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>