{% extends 'base.html' %}

{% block container %}

<div class="container-lg">

{% include 'partials/messages.html' %}

<div style="justify-content:center; display:flex; margin-bottom:15px; width:100%; padding-top:20px;">
                
  <form class="form-inline my-2 my-lg-0" style="justify-content:center; display:flex; " method="GET" action="{% url 'search_customer_to_order' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Cliente" aria-label="Search" name="therm" id="phone" value="{{ request.GET.phone }}" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:15px;">Pesquisar</button>
  </form>
</div>

{% comment %} <div class="form-group row">
  <label for="name" class="col-4 col-form-label">Nome *</label> 
      <div class="col-8">
      <input id="name" value="{{customer.name}}"  name="name" placeholder="Nome" type="text" class="form-control" readonly>
      </div>
</div> {% endcomment %}

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-6 position-relative">
    <label for="validationTooltip01" class="form-label">Nome</label>
    <input id="name" value="{{customer.name}}"  name="name" placeholder="Nome" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-6 position-relative">
    <label for="validationTooltip02" class="form-label">Telefone</label>
    <input id="phone" value="{{customer.phone}}"  name="phone" placeholder="Telefone" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-6 position-relative">
    <label for="validationTooltip03" class="form-label">Logradouro</label>
    <input id="street" value="{{customer.address.0.street}}"  name="street" placeholder="Logradouro" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-3 position-relative">
    <label for="validationTooltip03" class="form-label">Número</label>
    <input id="number" value="{{customer.address.0.number}}"  name="number" placeholder="Nº" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-3 position-relative">
    <label for="validationTooltip03" class="form-label">Complemento</label>
    <input id="complement" value="{{customer.address.0.complement}}"  name="complement" placeholder="Complemento" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-6 position-relative">
    <label for="validationTooltip03" class="form-label">Bairro</label>
    <input id="district" value="{{customer.address.0.district}}"  name="district" placeholder="Bairro" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-3 position-relative">
    <label for="validationTooltip03" class="form-label">Cidade</label>
    <input id="city" value="{{customer.address.0.city}}"  name="city" placeholder="Cidade" type="text" class="form-control" readonly>
  </div>
  <div class="col-md-3 position-relative">
    <label for="validationTooltip03" class="form-label">CEP</label>
    <input id="cep" value="{{customer.address.0.cep}}"  name="cep" placeholder="CEP" type="text" class="form-control" readonly>
  </div>

  <div style="justify-content:center; display:flex; margin-bottom:15px; width:100%; padding-top:20px;">
  <input type="button" onclick="decryptfun()" value="Adicionar endereço de entrega diferente" style="width:350px">
  </div>

    <div id="new_address_form" hidden style="width:100%;" class="row g-3 needs-validation">
      <div class="col-md-3 position-relative">
        <label for="validationTooltip03" class="form-label">CEP</label>
        <input id="new_cep" value=""  name="new_cep" placeholder="CEP" type="text" class="form-control" >
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Logradouro</label>
        <input id="new_street" value=""  name="new_street" placeholder="Logradouro" type="text" class="form-control" >
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip03" class="form-label">Número</label>
        <input id="new_number" value=""  name="new_number" placeholder="Nº" type="text" class="form-control" >
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip03" class="form-label">Complemento</label>
        <input id="new_complement" value=""  name="new_complement" placeholder="Complemento" type="text" class="form-control" >
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Bairro</label>
        <input id="new_district" value=""  name="new_district" placeholder="Bairro" type="text" class="form-control" >
      </div>
      <div class="col-md-3 position-relative">
        <label for="validationTooltip03" class="form-label">Cidade</label>
        <input id="new_city" value=""  name="new_city" placeholder="Cidade" type="text" class="form-control" >
      </div>
    </div>
    
  
</form>


<script type="text/javascript" src="lib.js">
    
    $(document).ready(() => {
      $('#therm').mask('(99) 9 9999-9999');
    };

    

</script>
<script>
  function decryptfun() {
    document.getElementById('new_address_form').removeAttribute('hidden');
  }

    
  $(document).ready(() => {
      $('#new_cep').mask('99999-999');
      $('#phone').mask('(99) 9 9999-9999');
      
      let formClear = () => {
          // Limpa valores do formulário de cep.
          $("#new_street").val("");
          $("#new_district").val("");
          $("#new_city").val("");
          $("#new_state").val("");
      }
      
      //Quando o campo cep perde o foco.
      $("#new_cep").blur(() => {

          //Nova variável "cep" somente com dígitos.
          let zipCode = $('#new_cep').val().replace(/\D/g, '');

          //Verifica se campo cep possui valor informado.
          if (zipCode != "") {

              //Expressão regular para validar o CEP.
              let validCep = /^[0-9]{8}$/;

              //Valida o formato do CEP.
              if(validCep.test(zipCode)) {

                  //Preenche os campos com "..." enquanto consulta webservice.
                  $("#new_street").val("...");
                  $("#new_district").val("...");
                  $("#new_city").val("...");
                  

                  //Consulta o webservice viacep.com.br/
                  $.getJSON(`https://viacep.com.br/ws/${zipCode}/json/?callback=?`, data => {

                      if (!("erro" in data)) {
                          //Atualiza os campos com os valores da consulta.
                          $("#new_street").val(data.logradouro);
                          $("#new_district").val(data.bairro);
                          $("#new_city").val(data.localidade);
                          
                      } //end if.
                      else {
                          //CEP pesquisado não foi encontrado.
                          formClear();
                          alert("CEP não encontrado.");
                      }
                  });
              } //end if.
              else {
                  //cep é inválido.
                  formClear();
                  alert("Formato de CEP inválido.");
              }
          } //end if.
          else {
              //cep sem valor, limpa formulário.
              formClear();
          }
      });
  });
  </script>
    


  {% endblock container %}
  
  
  