{% extends 'base.html' %}

{% block container %}

<div class="container-lg">

{% include 'partials/messages.html' %}

<div style="justify-content:center; display:flex; margin-bottom:15px; width:100%; padding-top:20px;">
                
  {% comment %} <form class="form-inline my-2 my-lg-0" style="justify-content:center; display:flex; " method="GET" action="{% url 'search_orders' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Pedido" aria-label="Search" name="therm" value="{{ request.GET.termo }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:15px;">Pesquisar</button>
  </form> {% endcomment %}
                    
  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'create_new_order' %}">
    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 10px;" type="submit">Adicionar</button>
  </form>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th width="50%">Cliente</th>
        <th width="30%">Telefone</th>
        <th width="30%">Valor</th>
        <th width="20%" style="text-align:center">Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for o in orders %}
      <tr>
        <td>{{o.customer.name}}</td>
        <td>{{o.customer.phone}}</td>
        <td>R${{o.product.price}}</td>
        <td style="justify-content:center; align-items:center; display:flex;">
         
 
          <form action="{% url 'edit_order' o.id%}" method="POST"> {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
              </svg>
            </button>
          </form>
  
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<nav aria-label="...">
    <ul class="pagination">
      {% for pagina in orders.paginator.page_range %}
        {% if orders.number == pagina %}
          <li class="page-item active">
            <a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
          </li> 
  
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
          </li>
  
        {% endif %} 
  
      {% endfor %}
    </ul>
  
  </nav>
  
  
  
  {% include 'partials/modal_product.html' %}
  {% endblock container %}
  
  
  