{% extends 'base.html' %}


{% block container %}

{% include 'partials/messages.html' %}


        <h5 class="modal-title">Adicionar/Editar Produto</h5>

    

      <div class="modal-body">
        <form method="POST" action="{% url 'home_edit_product' product.id %}">{% csrf_token %}
          <div class="form-group">
            <input type="hidden" value="{{product.id}}" name="id" class="form-control" id="id">
          </div>

          <div class="form-group">
            <label for="name">Produto</label>
            <input type="text" value="{{product.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Digite o nome do produto">
          </div>

          <div class="form-group">
            <label for="price">Preço</label>
            <input type="text"  value="{{product.price}}" name="price" class="form-control" id="price" placeholder="Digite o preço do produto">
          </div>
          <a class="dropdown-item" method="GET" href="{% url 'edit_product' product.id %}">Salvar</a>
        </form>
      </div>
   

{% endblock container %}
