{% extends 'base.html' %}



{% block container %}


<div class="container-lg">

{% include 'partials/messages.html' %}

    <div style="justify-content:center; display:flex; margin-bottom:15px; width:100%;">
                {% comment %} <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'consulta_produtos' %}"> {% endcomment %}
                <form class="form-inline my-2 my-lg-0" style="justify-content:center; display:flex; " method="GET" action="">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search" name="termo" value="{{ request.GET.termo }}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-left:15px;">
                            Pesquisar
                        </button>
                </form>
                    
                <form class="form-inline my-2 my-lg-0" method="GET" action="">
                    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 10px;" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
                        Adicionar
                    </button>
                </form>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nome</th>
            <th scope="col"style="width:20%">Telefone</th>
            <th scope="col" style="width:10%">Ações</th>
            </tr>
        </thead>

       {% for c in customers %}
       
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.phone }}</td>
                <td style="justify-content:center; align-items:center; display:flex;">

                    <form action="{% url 'remove_customer' c.id%}" method="POST">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger" style="margin-right:15px;" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                            </button>
                    </form>

                    <form action="{% url 'edit_customer' c.id%}" method="POST">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                                </svg>
                        </button>
                    </form>

                </td>
            </tr>
       {% endfor %}

    </table>

    <nav aria-label="...">
    <ul class="pagination">
        {% for pagina in customers.paginator.page_range %}
            {% if customers.number == pagina %}
                <li class="page-item active">
                <a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
                </li> 

            {% else %}
                <li class="page-item">
                <a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a>
                </li>

            {% endif %} 

        {% endfor %}
    </ul>

  </nav>

     <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="help-block with-errors"></div>
        
        <div class="modal-header">
            <h4 class="modal-title">Adicionar cliente</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <br />
            <div class="modal-body">
                <form method="POST" action="{% url 'save_customer'%}" data-toggle="validator">
                        {% csrf_token %}
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Nome *</label> 
                                    <div class="col-8">
                                    <input id="name" value="{{request.POST.nome}}"  name="name" placeholder="Nome" type="text" class="form-control" required>
                                    </div>
                            </div>
                            <br />
                                <div class="form-group row">
                                    <label for="phone" class="col-4 col-form-label">Telefone *</label> 
                                        <div class="col-8">
                                        <input id="phone" value="{{request.POST.phone}}" name="phone" type="text"  placeholder="Telefone" class="form-control" required>
                                        </div>
                                </div>
                                
                            <br />
                            
                                <div class="form-group row">
                                    <div class="offset-4 col-8" style="align-items:right;">
                                        <button name="submit" type="submit" class="btn btn-primary">Salvar</button>
                                    
                                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" style="margin-left:55px;" >Cancelar</button>
                                </div>
                            
                </form>
        </div>

       

        </div>
    </div>
    </div>



 </div>

 <script type="text/javascript">
  $(document).ready(() => {
      $('#cep').mask('99999-999');
      $('#phone').mask('(99) 9 9999-9999');
      
      let formClear = () => {
          // Limpa valores do formulário de cep.
          $("#street").val("");
          $("#district").val("");
          $("#city").val("");
          $("#state").val("");
      }
      
      //Quando o campo cep perde o foco.
      $("#cep").blur(() => {

          //Nova variável "cep" somente com dígitos.
          let zipCode = $('#cep').val().replace(/\D/g, '');

          //Verifica se campo cep possui valor informado.
          if (zipCode != "") {

              //Expressão regular para validar o CEP.
              let validCep = /^[0-9]{8}$/;

              //Valida o formato do CEP.
              if(validCep.test(zipCode)) {

                  //Preenche os campos com "..." enquanto consulta webservice.
                  $("#rua").val("...");
                  $("#bairro").val("...");
                  $("#cidade").val("...");
                  $("#uf").val("...");
                  $("#ibge").val("...");

                  //Consulta o webservice viacep.com.br/
                  $.getJSON(`https://viacep.com.br/ws/${zipCode}/json/?callback=?`, data => {

                      if (!("erro" in data)) {
                          //Atualiza os campos com os valores da consulta.
                          $("#street").val(data.logradouro);
                          $("#district").val(data.bairro);
                          $("#city").val(data.localidade);
                          $("#state").val(data.uf);
                      } //end if.
                      else {
                          //CEP pesquisado não foi encontrado.
                          formClear();
                          alert("CEP não encontrado.");
                      }
                  });
              } //end if.
              else {
                  //cep é inválido.
                  formClear();
                  alert("Formato de CEP inválido.");
              }
          } //end if.
          else {
              //cep sem valor, limpa formulário.
              formClear();
          }
      });
  });
  </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

{% endblock container %}